/* CSS Document */

body{
	padding:11px 0 14px 0;
	margin:0;
	background-color:#EFEFDF;
	color:#000;
}
h2, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

p {
	padding:0 20 0 0;
}
/*
h4 {
    color: #FF6633;
    font-size: 10px;
	padding:0 0 0 20px;
}

h5 {
    color: #999999;
	font-style: italic;
    font-size: 9px;
	padding:0 10 0 20px;
	margin:5px 0 5px 0;
}

h6 {
    color: #6699FF;
    font-size: 10px;
	padding:0 0 0 20px;
}
*/

ul{
	list-style: none;
}

.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------header--------------------*/
#header{
	background:url(../images/header.gif) 0 0 no-repeat;
	width:981px;
	height:274px;
	position:relative;
	margin:0 auto;
}
#header ul{
	background:url(/codice/images/nav_bar.gif) 0 0 no-repeat;
	width:847px;
	height:29px;
	position:absolute;
	left:31px;
	top:6px;
	padding:0 0 0 72px;
}
#header ul li{
	background:url(../images/nav_div.gif) right top no-repeat;
	height:27px;
	float:left;
	padding:0 1px 0 0;
}
#header ul li a{
	display:block;
	background:url(../images/nav_bg.gif) 0 0 repeat-x;
	padding:0 14px;
	font:bold 11px/27px Arial, Helvetica, sans-serif;
	color:#344A04;
	background-color:inherit;
	text-decoration:none;
}
#header ul li a:hover{
	background:url(../images/nav_hover.gif) 0 0 repeat-x;
	color:#fff;
	background-color:inherit;
}
#header ul li a.hover{
	display:block;
	background:url(../images/nav_hover.gif) 0 0 repeat-x;
	color:#fff;
	padding:0 14px;
	font:bold 11px/27px Arial, Helvetica, sans-serif;
	background-color:inherit;
	text-decoration:none;
	cursor:text;
}
#header ul li.last{
	background-image:none;
	height:27px;
	float:left;
}
#header img.logo{
	position:absolute;
	left:20px;
	top:37px;
	/****
	width:249px;
	height:72px;
	****/
}
#header h1{
	background:url(../images/slogan.gif) 0 0 no-repeat;
	width:522;
	height:37px;
	position:absolute;
	left:400px;
	top:105px;
	text-indent:-10000px;
}
#header p{
	font:normal 12px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	position:absolute;
	left:411px;
	top:142px;
}
#header p span.txt1{
	color:#fff;
	background-color:#1E6887;
}
#header img.icon{
	position:absolute;
	left:60px;
	top:190px;
	width:174px;
	height:80px;
}
#header p.topText{
	font:normal 18px/23px Arial, Helvetica, sans-serif;
	color:#E8E8E8;
	background-color:inherit;
	position:absolute;
	left:285px;
	top:203px;
	width:588px;
}
#header p.topText span.smallTxt{
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#FF9C3A;
	background-color:inherit;
	padding:0 0 0 8px;
}
#header a.readMore{
	display:block;
	/*background:url(../images/read_more.gif) 0 0 no-repeat;*/
	width:50px;
	height:38px;
	position:absolute;
	left:895px;
	top:203px;
}
#header a.readMore:hover{
	/*background:url(../images/read_more_hover.gif) 0 0 no-repeat;*/
}
/*------------------------------------------------header--------------------*/

/*------------------------------------------------body--------------------*/
#body{
	width:978px;
	padding:13px 1px 13px 2px;
	margin:0 auto;
}
/*------------------------------------------------left--------------------*/
#left{
	width:357px;
	float:left;
}
#left1{
	width:324px;
	background:url(../images/lft_box_bg.gif) 0 0 no-repeat #EAEADA;
	border:#DDDDCA solid 7px;
	margin:0 0 4px 0;
	padding:5px 10px 6px 9px;
	color:#878767;
}
#left1 p.pic1{
	display:block;
	background:url(../images/lft_pic1.gif) 0 0 no-repeat;
	width:90px;
	height:80px;
	margin:0px 0 0 0;
	float:left;
}
#left1 p.boxTxt1{
	float:right;
	padding:0 0 0 15px;
	border-left:#F9F9F1 solid 2px;
	font:normal 11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	width:189px;
}
#left1 p.boxTxt1 span{
	font:normal 19px/17px Arial, Helvetica, sans-serif;
	color:#D76E08;
	background-color:inherit;
	padding:0 0 0 25px;
	margin:0 0 10px 0;
	background:url(../images/one.gif) 0 0 no-repeat;
	height:17px;
	display:block;
}
#left2{
	width:316px;
	background:url(../images/lft_box_bg.gif) 0 0 no-repeat #EAEADA;
	border:#DDDDCA solid 7px;
	margin:0 0 4px 0;
	padding:5px 10px 6px 17px;
	color:#878767;
}
#left2 p.pic2{
	display:block;
	background:url(../images/lft_pic2.gif) 0 0 no-repeat;
	width:90px;
	height:80px;
	margin:0px 0 0 0;
	float:left;
}
#left2 p.boxTxt2{
	float:right;
	padding:0 0 0 15px;
	border-left:#F9F9F1 solid 2px;
	font:normal 11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	width:189px;
}
#left2 p.boxTxt2 span{
	font:normal 19px/17px Arial, Helvetica, sans-serif;
	color:#D76E08;
	background-color:inherit;
	padding:0 0 0 25px;
	margin:0 0 10px 0;
	background:url(../images/two.gif) 0 0 no-repeat;
	height:17px;
	display:block;
}
#left3{
	width:324px;
	background:url(../images/lft_box_bg.gif) 0 0 no-repeat #EAEADA;
	border:#DDDDCA solid 7px;
	margin:0 0 4px 0;
	padding:5px 10px 6px 9px;
	color:#878767;
}
#left3 p.pic3{
	display:block;
	background:url(../images/lft_pic3.gif) 0 0 no-repeat;
	width:90px;
	height:80px;
	margin:0px 0 0 0;
	float:left;
}
#left3 p.boxTxt3{
	float:right;
	padding:0 0 0 0px;
	/*border-left:#F9F9F1 solid 2px;*/
	font:normal 11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	width:189px;
}
#left3 p.boxTxt3 span{
	font:normal 19px/17px Arial, Helvetica, sans-serif;
	color:#D76E08;
	background-color:inherit;
	padding:0 0 0 25px;
	margin:0 0 10px 0;
	background:url(../images/three.gif) 0 0 no-repeat;
	height:17px;
	display:block;
}

#leftTags{
	
	width: 330px;
	background: #EAEADA;
	border: #DDDDCA solid 7px;
	margin: 0 0 4px 0;
	padding: 5px;
	color: #D76E08;

	text-align: center;
	font-weight: bold;
	
}

#leftBox{
	
	width: 330px;
	background: #EAEADA;
	border: #DDDDCA solid 7px;
	margin: 0 0 4px 0;
	padding: 5px;
	color: #D76E08;

	text-align: center;
	font-weight: bold;
	
}

/*------------------------------------------------left--------------------*/

/*------------------------------------------------right--------------------*/
#right{
	width:608px;
	float:right;
	background:url(/codice/images/right_panel_bg.gif) 0 0 repeat-y;
}
#right p.rightTop{
	display:block;
	background:url(../images/right_top.gif) 0 0 no-repeat;
	width:608px;
	height:26px;
}
#right h2{
	font:bold 26px Arial, Helvetica, sans-serif;
	color:#666666;
	background-color:inherit;
	margin:0 0 0 0px;
	padding:0 0 0 20px;
	display:block;
}
#right p.rightTxt1{
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#62625C;
	background-color:inherit;
	padding:0 38px 10px 38px;
}
#right p.rightTxt1 span{
	font:bold 13px/18px Arial, Helvetica, sans-serif;
	color:#5F860B;
	background-color:inherit;
}
#right p.rightTxt2{
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#62625C;
	background-color:inherit;
	padding:0 0 20px 38px;
	float:left;
	width:349px;
	margin:0 27px 0 0;
}
#right p.rightTxt2 span{
	font:bold 17px/18px Arial, Helvetica, sans-serif;
	color:#D76E08;
	background-color:inherit;
	border-bottom:#BCBCB5 dashed 1px;
	width:340px;
	display:block;
	margin:0 0 15px 0;
}
#right p.rightPic{
	display:block;
	background:url(../images/right_panel_pic.gif) 0 0 no-repeat;
	width:166px;
	height:155px;
	float:left;
	margin:0 0 22px 0;
}
#right p.rightBottom{
	display:block;
	background:url(../images/right_bottom.gif) 0 0 no-repeat;
	width:608px;
	height:20px;
	float:left;
}

#right ul{
	padding:0;
	margin:0;
	display:block;
}

#right ul li{
	display:block;
	height:20px;
}

#right ul li a{
	display:block;
	padding:0 0 0 30px;
	font:normal 11px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#47472D;
	background-color:inherit;
	text-decoration:underline;
	height:20px;
}

#right ul li a:hover{
	color:#974D04;
	text-decoration:none;
}

.textBody{
	padding: 5px 10px 5px 20px;
}
/*------------------------------------------------right--------------------*/

/*------------------------------------------------rightWithContent--------------------*/
#rightWithContent{
	width:750px;
	float:right;
	border: 2px solid #D0CFCD;
	/* background:url(../images/right_panel_bg.gif) 0 0 repeat-y; */
	background-color: #FDFDF7;
}
#rightWithContent p.rightTop{
	display:block;
	/* background:url(../images/right_top.gif) 0 0 no-repeat; */
	background-color: #FDFDF7;
	width:750px;
	height:26px;
}
#rightWithContent h2{
	font:bold 30px/22px Arial, Helvetica, sans-serif;
	color:#222222;
	background-color:inherit;
	margin:0 0 16px 0;
	padding:0 0 0 38px;
	display:block;
}
#rightWithContent p.rightTxt1{
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#62625C;
	background-color:inherit;
	padding:0 38px 10px 38px;
}
#rightWithContent p.rightTxt1 span{
	font:bold 13px/18px Arial, Helvetica, sans-serif;
	color:#5F860B;
	background-color:inherit;
}
#rightWithContent p.rightTxt2{
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#62625C;
	background-color:inherit;
	padding:0 0 20px 38px;
	float:left;
	width:349px;
	margin:0 27px 0 0;
}
#rightWithContent p.rightTxt2 span{
	font:bold 17px/18px Arial, Helvetica, sans-serif;
	color:#D76E08;
	background-color:inherit;
	border-bottom:#BCBCB5 dashed 1px;
	width:340px;
	display:block;
	margin:0 0 15px 0;
}
#rightWithContent p.rightPic{
	display:block;
	background:url(../images/right_panel_pic.gif) 0 0 no-repeat;
	width:166px;
	height:155px;
	float:left;
	margin:0 0 22px 0;
}
#rightWithContent p.rightBottom{
	display:block;
	/* background:url(../images/right_bottom.gif) 0 0 no-repeat; */
	background-color: #FDFDF7;
	width:608px;
	height:20px;
	float:left;
}

#rightWithContent ul{
	padding:0;
	margin:0;
	display:block;
}

#rightWithContent ul li{
	display:block;
	height:20px;
	line-height:0;
}

#rightWithContent ul li a{
	display:block;
	padding:0 0 0 30px;
	font:normal 11px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#47472D;
	background-color:inherit;
	text-decoration:underline;
	height:20px;
}

#rightWithContent ul li a:hover{
	color:#974D04;
	text-decoration:none;
}
/*------------------------------------------------right--------------------*/

/*------------------------------------------------body--------------------*/

/*------------------------------------------------bodyBottom--------------------*/
#bodyBottom{
	width:946px;
	background:url(../images/body_bottom_bg.gif) 0 0 repeat-x #B9B99D;
	color:#fff;
	padding:22px 13px 19px 18px;
	margin:0 auto;
}
#news{
	width:341px;
	float:left;
	margin:0 28px 0 0;
}
#news h2{
	display:block;
	background:url(../images/arrow_red.gif) 0 0 no-repeat;
	padding:0 0 0 25px;
	font:bold 22px/16px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0 0 17px 0;
}
#news h3{
	display:block;
	background:url(../images/date_bg.gif) 0 0 no-repeat;
	width:331px;
	height:17px;
	padding:0 0 0 7px;
	margin:0 0 5px 0;
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#974D04;
	background-color:inherit;
	text-transform:uppercase;
	vertical-align: middle;
}
#news h3 span{
	background-image: url('/codice/images/skin/date1.png');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}
#news p{
	font:normal 12px/15px Arial, Helvetica, sans-serif;
	color:#F7F7EA;
	background-color:inherit;
	padding:0 0 5px 0;
}
#news p span{
	font:bold 12px/20px Arial, Helvetica, sans-serif;
	color:#2C2C1B;
	background-color:inherit;
	text-decoration:underline;
	display:block;
}
#news div.commentsActions{
	padding-bottom: 5px;
}
#service{
	width:338px;
	float:left;
}
#service h2{
	display:block;
	background:url(../images/arrow_red.gif) 0 0 no-repeat;
	padding:0 0 0 24px;
	font:bold 22px/16px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0 0 17px 0;
}
#service h3{
	display:block;
	background:url(../images/date_bg.gif) 0 0 no-repeat;
	width:327px;
	height:17px;
	padding:0 0 0 11px;
	margin:0 0 0px 0;
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#974D04;
	background-color:inherit;
	text-transform:uppercase;
}
#service ul{
	padding:0;
	margin:0;
	display:block;
}
#service ul li{
	display:block;
	height:20px;
	line-height:0;
}
#service ul li a{
	display:block;
	background:url(../images/arrow_white.gif) 0 7px no-repeat;
	padding:0 0 0 10px;
	font:normal 11px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#47472D;
	background-color:inherit;
	text-decoration:underline;
	height:20px;
}
#service ul li a:hover{
	color:#974D04;
	background:url(../images/arrow_white_hover.gif) 0 7px no-repeat #DDDDCB;
	text-decoration:none;
}
#service p{
	font:normal 12px/15px Arial, Helvetica, sans-serif;
	color:#F7F7EA;
	background-color:inherit;
	padding:0 0 5px 0;
}
#service p span{
	font:bold 12px/20px Arial, Helvetica, sans-serif;
	color:#2C2C1B;
	background-color:inherit;
	text-decoration:underline;
	display:block;
}
#member{
	width:225px;
	float:right;
}
#member h2{
	display:block;
	background:url(../images/member_login_bg.gif) 0 0 no-repeat;
	width:205px;
	height:31px;
	padding:0 0 0 20px;
	font:bold 16px/31px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
}
#member form{
	width:191px;
	background:url(../images/member_form_bg.gif) 0 0 repeat-x #353535;
	padding:9px 17px 24px 17px;
	color:#fff;
}
#member form label{
	font:normal 11px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	float:left; 
	display:block;
}
#member form input.txtBox{
	width:185px;
	height:19px;
	border-left:#808080 solid 1px;
	border-top:#808080 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-bottom:#D4D0C8 solid 1px;
	color:#000;
	background-color:#fff;
	margin:0;
	padding:0;
	float:left;
}
#member form a{
	background:url(../images/register_member_icon.gif) 0 0 no-repeat;
	padding:0 0 0 20px;
	font:bold 11px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#9CCC37;
	background-color:#353535;
	text-decoration:underline;
	float:left;
	margin:15px 0 0 0;
	width:120px;
}
#member form a:hover{
	text-decoration:none;
}
#member form input.go{
	background:url(../images/btn_go.gif) 0 0 no-repeat;
	width:36px;
	height:15px;
	border:none;
	cursor:pointer;
	float:right;
	margin:15px 0 0 0;
}
/*------------------------------------------------bodyBottom--------------------*/

/*------------------------------------------------footer--------------------*/
#footer{
	width:977px;
	height:125px;
	margin:0 auto;
	background:url(../images/footer_bg.gif) 0 0 repeat-x #323232;
	color:#fff;
	position:relative;
}
#footer ul{
	width:587px;
	position:absolute;
	left:11px;
	top:27px;
}
#footer ul li{
	float:left;
	color:#D4D4C6;
	background-color:inherit;
	font:normal 11px/19px Arial, Helvetica, sans-serif;
}
#footer ul li a{
	color:#D4D4C6;
	background-color:inherit;
	font:normal 11px/19px Arial, Helvetica, sans-serif;
	padding:0 7px;
	text-decoration:none;
}
#footer ul li a:hover{
	color:#D4D4C6;
	background-color:#D76E08;
}
#footer p.copyright{
	font:normal 11px/19px Arial, Helvetica, sans-serif;
	color:#D76E08;
	background-color:inherit;
	position:absolute;
	left:19px;
	top:49px;
}
#footer a.subscribe{
	background:url(../images/subscribe_icon.gif) 0 2px no-repeat;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
	color:#B9B99D;
	background-color:inherit;
	position:absolute;
	left:19px;
	top:68px;
	text-decoration:underline;
	width:50px;
	padding:0 0 0 18px;
}
#footer a.subscribe:hover{
	color:#9CCC37;
	background-color:inherit;
	text-decoration:none;
}
#footer a.xht{
	width:98px;
	height:20px;
	background:url(../images/xhtml_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:757px;
	top:23px;
}
#footer a.xht:hover{
	background:url(../images/xhtml_bg_hover.gif) 0 0 no-repeat;
}
#footer a.cs{
	width:98px;
	height:20px;
	background:url(../images/css_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:866px;
	top:23px;
}
#footer a.cs:hover{
	background:url(../images/css_bg_hover.gif) 0 0 no-repeat;
}
#footer img{
	position:absolute;
	left:880px;
	top:51px;
	width:84px;
	height:26px;
}
#footer p.design{
	font:bold 12px/19px Arial, Helvetica, sans-serif;
	color:#C5BE25;
	background-color:inherit;
	position:absolute;
	left:19px;
	top:85px;
}
#footer p.design a{
	color:#FFFFFF; background-color:inherit; text-decoration:none;
	}
#footer p.design a:hover{
	color:#C5BE25; background-color:inherit;
	}
/*------------------------------------------------footer--------------------*/
